append etc/anaconda/profile.d/fedora-kinoite.conf "\\n[User Interface]\\nhidden_spokes =\\n    PasswordSpoke\\npassword_policies =\\n    root (quality 1, length 6, strict)\\n    user (quality 1, length 6, empty, strict)\\n    luks (quality 1, length 6)"
