append usr/share/anaconda/interactive-defaults.ks "\n%pre-install --log=/tmp/aerocore-var-tmp.log\nset -eux\ntarget_tmp=\nfor root in /mnt/sysimage /mnt/sysroot /var/mnt/sysimage; do\n    if mountpoint -q ${root}; then\n        target_tmp=${root}/var/tmp\n        break\n    fi\ndone\nif [ x${target_tmp} = x ]; then\n    echo No mounted target system found for /var/tmp bind mount >&2\n    exit 1\nfi\nmkdir -p ${target_tmp}\nchmod 1777 ${target_tmp}\nmount --bind ${target_tmp} /var/tmp\ndf -h /var/tmp ${target_tmp}\n%end"
